@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    /* font family */
    --font-primary: "Helvetica", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
    --font-tertiary: "Bebas Neue", sans-serif;
    /* font size */
    --big-title1: 3.815rem;
    --big-title2: 3.052rem;
    --big-title3: 2.441rem;
    --normal-text: 1rem;
    --small-text: 0.8rem;
    /* colors */
    --section-title-color: #555;
    --section-subtitle-color: #777;
    --bg-footer: #aeb1b6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-primary);
    font-size: 1.2rem;

}

ul {
    margin: 0;
    padding: 1rem 0;
}

li {
    list-style: none;
}

p {
    line-height: 1.4;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
    border-top: 2px solid #ccc;
}

section:first-child {
    border: none;
}

.section-title {
    font-size: var(--big-title3);
    text-align: center;
    margin: 1.8rem 0;
    color: var(--section-title-color);
    font-family: var(--font-secondary);
    text-transform: uppercase;
}

.section-subtitle {
    font-size: 1.6rem;
    color: var(--section-subtitle-color);
}

.section-cta {
    margin: 2rem 0;
    padding: 0.5rem 2rem;
    background: rgb(252, 96, 40);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
}

.open-mobile-nav {
    right: 0 !important;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

/* main header */

#main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: transparent;
    z-index: 2;
}

.main-header__brand-container {
    display: inline-block;
    width: 60%;
    height: 10%;
}

.main-header__brand {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -20px;
}

/* toggle */

.main-header__toggle-container {
    width: 100%;
    height: 100%;
    text-align: end;
}

.main-header__toggle {
    font-size: 1.6rem;
    color: #BBB;
}

/* mobile nav */

.mian-nav.main-nav--mobile {
    display: none;
    position: fixed;
    top: 0;
    right: -60%;
    width: 60vw;
    height: 100vh;
    background: white;
    font-size: 1.3rem;
    transition: right 0.5s ease-out;
}

.main-nav__list-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
}

.main-nav__list-links li {
    padding: 0.7rem 0;
}

.main-nav__list-links li a {
    color: black;
}

.main-nav {
    display: none;

}

.main-header__contacts-container {
    display: none;
}

/* hero */

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: var(--font-tertiary);
    padding: 0.8rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../assets/images/hero_background.jpg") 64%/ cover no-repeat;
}

#hero h1 {
    margin: 0;
    font-weight: 100;
    color: #FFF;
    font-size: var(--big-title1);
}

#hero div {
    display: none;
}


#hero p {
    display: none;
}

#hero .hero__cta {
    display: none;
}

#hero .hero__info {
    display: none;
}

#hero .hero__socials {
    display: none;
}

/* section catalog */

.catalog__list {
    width: 100%;
    padding-bottom: 0;
    /* display: none; */
}

.catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog__item a {
    display: block;
    padding: 1rem;
    color: black;
    /* text-decoration: none; */
    font-size: 1.1rem;
}

.catalog__image-container {
    width: 80%;
    max-width: 378px;
    height: 48vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.catalog__image {
    width: 100%;
    height: 100%;
}

/* section about */

#about {
    text-align: start;
}

.about__image-container {
    width: 90%;
    max-width: 512px;
    height: 50%;
}

.about__image-container img {
    width: 100%;
    height: 100%;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);

}

#about .about__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1.2rem;
}

#about .section-title {
    margin-bottom: 0;
}

#about .section-subtitle {
    margin: 3rem 0;
    margin-top: 0;
}

#about .about__text p {
    /* margin: 1rem 0; */
    margin-top: 0;

}


/* recent work */

.recent-works__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.2rem;
}

.recent-works__text .section-title {
    margin: 0;
}

.recent-works__text .section-cta {
    display: none;
}

.recent-works__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.recent-works__image-container {
    width: 90%;
    height: 36vh;
    margin: 1rem 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.recent-works__image-container img {
    width: 100%;
    height: 100%;
}


/* reviews */


.review-item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.review-item__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.review-item__imgage--1 {
    background: url("../assets/images/zeelool-glasses-7qsdLxXtJfg-unsplash.jpg") 0% 20% /cover no-repeat;
}

.review-item__imgage--2 {
    background: url("../assets/images/ernest-flowers-nd62fu5GK1w-unsplash.jpg") 0% 20% /cover no-repeat;
}

.customer-name {
    margin-bottom: 0;
}

.customer-review {
    text-align: center;
    padding: 1rem;
    margin: 0;
}

/* footer */

#main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 1rem;
    font-size: 1.1rem;
    color: white;
    background: var(--bg-footer);
}

.main-footer__brand-container {
    display: block;
    width: 100%;
    max-width: 370px;
    min-width: 300px;
    height: 18vh;
    margin-bottom: 1rem;
}

.main-footer__brand-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -26px center;
    cursor: pointer;
}

.customer-name {
    font-family: var(--font-secondary);
}

.main-footer__nav {
    display: none;
}

.main-footer__legal-container {
    text-align: center;
    color: inherit;
    order: 2;
}

.copyright {
    margin-top: 0;

}

.main-footer__legal-container a {
    color: inherit;
    display: block;
    text-align: center;
}

.main-footer__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.1rem;
}

.main-footer__contacts {
    text-align: center;
    padding: 1rem 0;
    padding-top: 0;
    order: 1;
}

.main-footer__socials {
    display: inherit;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    order: 3;
}

.main-footer__socials a {
    color: white;
}

/* media query */


@media (min-width: 640px) {

    .main-header__brand-container {
        max-width: 190px;
        min-width: 180px;

    }

    .main-header__brand {
        width: 100%;
        object-position: -30px;
    }

    .mian-nav.main-nav--mobile {
        width: 40vw;
    }

    /* hero */

    #hero {
        padding: 1rem 2rem;
        align-items: start;
        justify-content: end;
        background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../assets/images/hero_background.jpg") right 20% bottom 24% / cover no-repeat;
    }

    #hero h1 {
        font-size: 5.7rem;
    }

    #hero p {
        display: block;
        color: white;
        font-family: var(--font-primary);
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    #hero .hero__cta {
        display: block;
        background: #d16c20;
        padding: 0.5rem 3rem;
        border: none;
        font-size: var(--normal-text);
        color: white;
        text-transform: uppercase;
        border-radius: 8px;
        cursor: pointer;
    }

    #hero div {
        width: 100%;
        display: flex;
    }

    #hero .hero__info {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 0;
        color: white;
        font-family: var(--font-primary);
    }

    #hero .hero__info li {
        padding: 0 1rem;
        padding-left: 0;
    }

    #hero .hero__socials {
        width: 10%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: end;
        color: white;
        padding-bottom: 0;
    }

    #hero .hero__socials li {
        padding-bottom: 0.3rem;
        cursor: pointer;
    }

    #hero .hero__socials li:hover {
        color: #d16c20;
    }

}

@media (min-width: 1000px) {

    section {
        position: relative;
        border: none;
    }

    #catalog .section-title {
        position: relative;
        top: 0;
        left: -32%;
    }

    .main-header__toggle-container {
        display: none;
    }

    .main-nav {
        display: inline-block;
    }


    .main-nav .main-nav__list-links {
        flex-direction: row;
        width: 100%;

    }

    .main-nav__list-links li {
        padding: 0.8rem;
    }

    .main-nav .main-nav__list-links a {
        font-size: 1.1rem;
        text-decoration: none;
        color: white;
    }

    .main-nav .main-nav__list-links a::after {
        content: "";
        display: block;
        width: 0px;
        height: 2px;
        background: #d16c20;
        transition: width 0.3s ease-out;
    }

    .main-nav .main-nav__list-links a:hover::after {
        width: 108%;
    }

    #hero h1 {
        font-size: 6.7rem;
    }

    /* catalog */

    .catalog__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .catalog__image-container {
        width: 16rem;
        margin: 0 1rem;
    }

    .catalog__image {
        width: 100%;
        cursor: pointer;
    }

    /* about  */

    #about {
        display: flex;
        flex-direction: row;
    }

    .about__image-container {
        width: 64%;
    }

    #about .about__text {
        width: 40%;
        padding: 1rem 2rem;
    }

    /* recent works */

    #recent-works {
        display: flex;
        flex-direction: row;
        padding-right: 0;
    }

    button.section-cta.section-cta--mobile {
        display: none;
    }

    .recent-works__text {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 28%;
        padding: 0;
        padding-left: 6.4rem;
    }

    .recent-works__text p {
        margin-bottom: 0;
    }


    .recent-works__text .section-cta {
        display: block;
        cursor: pointer;
        margin-bottom: 0;
    }

    .recent-works__images {
        width: 60%;
        flex-direction: row;
    }

    .recent-works__image-container {
        height: 58vh;
        margin: 0 0.4rem;
    }


    /* customer reviews */

    #customers-reviews {
        padding-right: 0;
    }

    .reviews {
        width: 70%;
        display: flex;
        justify-content: center;
        padding-right: 0;
        padding-left: 3rem;
    }

    .review-item div {
        width: 100%;
        padding: 0 1rem;
        flex-direction: row;
    }

    .review-item__image {
        width: 100%;
        height: 50vh;
        border-radius: 0px;
    }

    .review-item__image.review-item__imgage--1 {
        background: url("../assets/images/zeelool-glasses-7qsdLxXtJfg-unsplash.jpg") center /cover no-repeat;
    }

    .review-item__image.review-item__imgage--2 {
        background: url("../assets/images/ernest-flowers-nd62fu5GK1w-unsplash.jpg") center /cover no-repeat;
    }

    div .review-item__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        padding-right: 0;
    }

    .customer-review {
        padding: 0;
        padding-top: 1rem;
        text-align: start;
    }


}